.rotate {
  transition: 0.5s;
  transform: rotate(90deg);
}

footer {
  padding-top: 20px;
  width: 101%;
  height: 100px;
  background-color: black;
}

footer a {
  padding: 5px;
  text-decoration: none;
}

footer div {
  width: clamp(100px, 50%, 400px);
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
}

footer p {
  font-size: 0.8rem;
  text-align: center;
  color: white;
}

section {
  background: url(img/paper-1074131_960_720.jpg) #ffeed1;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.2rem;
}

section:nth-of-type(2) {
  background: black;
  padding-bottom: 100px;
}

section:nth-of-type(2) h3 {
  text-align: center;
}

section h3 {
  color: #c41b1b;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.container-photo-menu {
  width: clamp(100px, 100%, 600px);
  height: clamp(100px, 100%, 600px);
  margin: 0px auto 0px auto;
}

.container-photo-menu img {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 1.8rem;
}

.section-button {
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #c41b1b;
  border-radius: 50px;
  padding: 10px;
  width: 90px;
}

.container p {
  padding-bottom: 20px;
}

.slider {
  text-align: center;
  height: 150px;
  width: 100%;
  position: relative;
  /* overflow: hidden; */
}

.slide {
  background: black;
  height: 200px;
  width: 100%;
  padding: 20px 0px;
  position: absolute;
  transition: 0.5s;
}

.slide p {
  font-size: 1.5rem;
  color: white;
  width: 95%;
  height: 100%;
  object-fit: cover;
  margin: 20px 10px;
  padding-bottom: 20px;
}

.slide h5 {
  font-size: 1.7rem;
  color: #c41b1b;
}

.gallerie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 3px solid black;
  gap: 2px;
}

.gallerie img {
  width: 100%;
  height: 150px;
  background: black;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

* {
  padding: 0%;
  margin: 0%;
}

header {
  width: 100vw;
  font-family: "Courier New", Courier, monospace;
}

header .navigation {
  color: white;
  background-color: black;
  height: 80px;
  width: 100vw;
  position: fixed;
  z-index: 100;
}

header .navigation-burger-button {
  display: flex;
  font-size: 1.7rem;
}

.navigation-burger-button svg {
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
}

.navigation-burger-button p {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

header .navigation-burger-button {
  width: 100vw;
}

header {
  height: 600px;
}

.img {
  height: 700px;
  width: 100%;
  background: url(img/burger-photo-by-TheoCrazzolara.jpg) rgba(0, 0, 0, 0.699);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  transition: 0.5s;
  position: fixed;
  display: flex;
  gap: 10px;
  flex-direction: column;
  top: 80px;
  left: -110%;
  background-color: black;
  height: 200px;
  width: 100vw;
  z-index: 100;
}

.menu a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
}

.menu a:hover {
  color: #c41b1b;
}

.menu a:active {
  color: #c41b1b;
}

.text-image-header {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  margin-left: 20px;
  font-weight: bold;
}

.text-image-header h3 {
  color: #c41b1b;
  width: 170px;
  border-bottom: 3px solid white;
  font-size: 2rem;
  font-weight: 900;
  margin-top: 150px;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */